<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>UMEX - {{titleAux}}</title>
    <script src="../static/js/library/jquery-3.6.3.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/Articles-Cards-images.css">
    <link rel="stylesheet" href="../static/css/Team-Horizontal-icons.css">
    <link rel="stylesheet" href="../static/css/searchHighlight.css">
</head>
        
        
<body id="page-top">
    {% if displayMode is not none %}
    {% if displayMode == true %}
    <div id="wrapper" style="filter: hue-rotate(165deg) invert(100%);">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="filter: grayscale(35%) saturate(24%);">
    {% else %}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    {% endif %} 
{% else %}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
{% endif %} 
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3"><span>UMEX</span></div>
            </a>
            <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    {%if 'Admin Tracking' == titleAux%}
                    <li class="nav-item"><a class="nav-link" href="admin_tracking"><i class="fas fa-external-link-square-alt"></i>ADMIN TRACKING</span></a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="admin_tracking"><i class="fas fa-external-link-square-alt"></i>ADMIN TRACKING</span></a></li>
                    {%endif%}
                    
                    {% if 'Category' == titleAux %}
                    <li class="nav-item"><a class="nav-link" href="category_management"><i class="fas fa-poll"></i><span>CATEGORY</span></a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="category_management"><i class="fas fa-poll"></i>CATEGORY<span>CATEGORY</span></a></li>
                    {%endif%}

                    {%if 'Nominee Management' == titleAux%}
                    <li class="nav-item"><a class="nav-link" href="nominee_management"><i class="fas fa-table"></i>NOMINEE MANAGEMENT</span></a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="nominee_management"><i class="fas fa-table"></i>NOMINEE MANAGEMENT</span></a></li>
                    {%endif%}

                    {%if 'Register' == titleAux %}
                    <li class="nav-item"><a class="nav-link" href="register"><i class="far fa-user-circle"></i><span>Register</span></a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="register"><i class="far fa-user-circle"></i><span>Register</span></a></li>
                    {%endif%}

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <button class="btn btn-primary py-0" type="button">
                                    <i class="fas fa-search">
                                </i></button></div>
                            </div>               
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="nav-link" aria-expanded="false" id="displayModeButton">
                                    {% if displayMode is not none %}
                                        {% if displayMode == true %}
                                        <i class="fas fa-lightbulb fa-fw" id="displayModeIcon"></i></a>
                                        {% else %}
                                        <i class="fas fa-moon fa-fw" id="displayModeIcon"></i></a>
                                        {% endif %} 
                                    {% else %}
                                        <i class="fas fa-moon fa-fw" id="displayModeIcon"></i></a>
                                    {% endif %} 
                                </div>
                            </li>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>UMEX VOTING</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
      
    {% block script %}
    {% endblock %}
    <script src="../static/js/library/bootstrap.min.js"></script>
    <script src="../static/js/library/chart.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
    <script src="../static/js/theme.js"></script>
    
</body>

</html>
